// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$black: #000000;
$light-gray: #F4F4F4;
$lilac: #b1a9f8;
$white: #FFFFFF;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;


//Backgorund
.bg-dark-gray{background:$dark-gray;}
.bg-gray-100{background:$gray-100;}
.bg-gray-200{background:$gray-200;}
.bg-gray-300{background:$gray-300;}
.bg-gray-400{background:$gray-400;}
.bg-gray-500{background:$gray-500;}
.bg-gray-600{background:$gray-600;}
.bg-gray-700{background:$gray-700;}
.bg-gray-800{background:$gray-800;}
.bg-gray-900{background:$gray-900;}

