<div class="bg-gray-900">
  <h2>Sobre mim</h2>

  <p>Conhecida pelo nome artístico de Milady Mori, sou formada em Design de Moda no Centro Universitário Belas Artes de São Paulo. Trabalho como figurista, artesã, costuro e bordo.</p>
</div>
