<div class="timeline">
  <h2>Minha Jornada</h2>
  <ul>
    <li>
      <h4>Título da minha experiência</h4>
      <p>(Agosto/2020 - Dezembro/2020)</p>
      <span>#moda</span>
      <p>Descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz.</p>
    </li>
    <li>
      <h4>Título da minha experiência</h4>
      <p>(Agosto/2020 - Dezembro/2020)</p>
      <p>Descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz.</p>
    </li>
    <li>
      <h4>Título da minha experiência</h4>
      <p>(Agosto/2020 - Dezembro/2020)</p>
      <p>Descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz.</p>
    </li>
    <li>
      <h4>Título da minha experiência</h4>
      <p>(Agosto/2020 - Dezembro/2020)</p>
      <p>Descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz, descrição do que eu fiz.</p>
    </li>
  </ul>
</div>

