<h1>Produtos</h1>

<% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <div>
      <h5><%= product.name %></h5>
      <p><%= product.subtitle %></p>
    </div>
  <% end %>
<% end %>
