.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  position: fixed;
  text-align: center;
  font-family: $amarante;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $lilac;
      text-shadow: 1.5px 1.5px $black;
    }
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .logo {
    align-self: center;
    padding: 0 1.5rem;
    font-size: 1.25rem;
  }
}

#navMobile {
  display: flex;
  position: relative;

  .nav-toggle {
    padding: 0 1.5rem;
    z-index: 10000;
    background-color: transparent;
    border-color: transparent;
  }

  #navMobileMenu {
    background-color: black;
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    text-align: center;
    ul {
      display: flex;
      justify-content: center;
      margin: auto;
      li {
        padding: 0.25rem 0;
      }
    }
  }
}

#navWeb {
  display: none;
}


@media (min-width: 720px) {
  #navMobile {
    display: none;
  }

  #navWeb {
    display: flex;
    ul {
      display: flex;
      flex-direction: row;
      li {
        align-self: center;
        padding: 1rem 0.75rem;
        font-size: 1.15rem;
      }
    }
  }
}
