<div class="features-container">
  <section class="features">
    <h2>Features</h2>
    <div class="card">
      <img src="/images/photos/mercado-goblin-1.jpeg">
      <h4>Teste</h4>
      <p>Minha descrição aqui</p>
    </div>
    <div class="card">
      <img src="/images/photos/mercado-goblin-1.jpeg">
      <h4>Teste</h4>
      <p>Minha descrição aqui</p>
    </div>
    <div class="card">
      <img src="/images/photos/mercado-goblin-1.jpeg">
      <h4>Teste</h4>
      <p>Minha descrição aqui</p>
    </div>
  <section>
</div>
